{
    "prefix": "mqtt_exporter_",
    "payloadType": "json",
    "topics": [
        "zigbee2mqtt/#"
    ],
    "filters": {
        "sensors": {
            "filter": "zigbee2mqtt/(?P<L1>0x.+)",
            "labels": [],
            "values": {
                "linkquality": "$.linkquality",
                "voltage": "$.voltage"
            },
            "group": "zigbee2mqtt"
        }
    }
}