{
    "prefix": "mqtt_exporter_",
    "purgeDelay": 3600,
    "topics": [
        "zigbee2mqtt/#"
    ],
    "sensors": {
        "sensors": {
            "payloadType": "json",
            "filter": "zigbee2mqtt/(?P<L1>prise_.+)",
            "labels": [],
            "values": {
                "linkquality": "$.linkquality",
                "voltage": "$.voltage",
                "state": "$.state",
                "battery": "$.battery"
            }
        }
    }
}