{
    "prefix": "mqtt_exporter_",
    "payloadType": "jsonTime-Value",
    "filters": {
        "toit": {
            "topic": "/collectd/#",
            "Selector": "homeassistant/Toit/.+",
            "queryFilter": "homeassistant/(L.+)/(L.+)/(L.+)/(N.+)"
        },
    }
}