{
    "config": {
        "ListeningAddress": ":9393",
        "metricsPath": "/metrics",
        "configurationFile": "configuration.json"
    },
    "mqtt": {
        "broker": "tcp://mosquitto:1883",
        "clientId": "mqtt_exporter_client"
    }
}
